.display-container{
    // max-width: 100%;
    // border: solid green 2px;
    width: auto;
    // flex-flow: wrap;
}

.display-choose{
    // border: solid red 2px;
    width: auto;
    height: auto;
}

.why-to-choice{
    margin-top: 17px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}




@media (max-width: 545px) {
    .display-container{
        width: auto;
        flex-flow: wrap;
    }
}