
<div class="why-to-choice">
    WHY CHOOSE MYAPP
</div>

<mat-card class="display-container" fxLayout="row" fxLayoutGap="30">

    <div>
        <mat-card class="display-choose">

            <div class="state-title" fxLayout="column" fxLayoutAlign="center center">

                <mat-card-title>
                    <img width="32px" src="../../../assets/Image/call_FILL0_wght400_GRAD0_opsz48.svg" alt="" srcset="">
                    Call Assist </mat-card-title>
                <mat-card-subtitle> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eligendi dignissimos tenetur aspernatur, asperiores molestiae praesentium esse, dicta alias hic quis. Blanditiis vero delectus expedita nam eaque vitae quo necessitatibus facere alias!
                </mat-card-subtitle>
            </div>
        </mat-card>
    </div>

    <div>
        <mat-card class="display-choose">

            <div class="state-title" fxLayout="column" fxLayoutAlign="center center">

                <mat-card-title>
                    <img width="28px" src="../../../assets/Image/Accomodation.png" alt="" srcset="">
                    Accomodation</mat-card-title>
                <mat-card-subtitle> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam earum veniam recusandae hic eum ex molestias consectetur. Nam nostrum, ut veritatis porro delectus perferendis sit quam! Molestiae aliquid eaque sint error voluptatem!</mat-card-subtitle>
            </div>
        </mat-card>
    </div>

    <div>
        <mat-card class="display-choose">

            <div class="state-title" fxLayout="column" fxLayoutAlign="center center">

                <mat-card-title>
                    <img width="32px" src="../../../assets/Image/tourguide.png" alt="" srcset="">

                    Expedition Guide</mat-card-title>
                <mat-card-subtitle> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ex id cumque minima quam culpa quos saepe praesentium reiciendis tempora magni iste delectus maxime, ipsum eum possimus laboriosam alias excepturi suscipit?</mat-card-subtitle>
            </div>
        </mat-card>
    </div>

    

</mat-card>