<div>
    <mat-card class="body">
        <div className="title">
            <mat-card-title class='title'>
                <h1 fxLayoutAlign="space-around center">WHY CHOOSE MYApp</h1>
            </mat-card-title>
        </div>
        <div fxLayoutGap fxLayoutAlign="center center" fxLayoutGap="10px" class="card1">
            <mat-card class="card">
                <img src="../../../assets/Image/suitcase.png" id="searchimg"
                    style="height:30px;width:30px;margin-top:3px;" />
                <mat-card-title class='title'>
                    <h1 fxLayoutAlign="space-around center">Travel Arrangements</h1>
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="space-around center">
                    The members who are desirous of participating in any of MYApp's programmes, will initially be asked
                    to make travel arrangements to a particular spot, like Base Camp, etc., where all the participants
                    would gather. From then onward, the MYApp's nominated Team Leader (Captain or Expedition Guide) will
                    take over and ensure smooth conduct of the particular programme.
                </mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <img src="../../../assets/Image/Accomodation.png" id="searchimg"
                    style="height:30px;width:30px;margin-top:3px;" />
                <mat-card-title class='title'>
                    <h1 fxLayoutAlign="space-around center">Accomodation</h1>
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="space-around center">
                    Accommodation is provided to the members by YHAI Hostels at a nominal cost. While the member can
                    avail all the modern facilities, there is a home like ambience in the Hostel. YHAI ensures the best
                    quality food for the member to satisfy the taste buds. Hygiene maintenance in all respects has
                    always been MYApp's commitment.
                </mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <img src="../../../assets/Image/suitcase.png" id="searchimg"
                    style="height:30px;width:30px;margin-top:3px;" />
                <mat-card-title class='title'>
                    <h1 fxLayoutAlign="space-around center">Handpicked Expedition</h1>
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="space-around center">
                    YHAI has variety of adventure programmes for the members to choose from. The handpicked expedition
                    will prove to be a big surprise destination. The expedition will include exploring, learning and
                    full of surprises. The programmes are conveniently listed out in our website. Visit our website to
                    know more about the handpicked expedition.
                </mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <mat-card-title class='title'>
                    <img src="../../../assets/Image/tourguide.png" id="searchimg"
                        style="height:30px;width:30px;margin-top:3px;" />
                    <h1 fxLayoutAlign="space-around center">Expedition Guide</h1>
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="space-around center">
                    While on an expedition, the hosteler can feel absolutely safe, thanks to the Expedition Guide. The
                    YHAI provides excellent and expert Expedition Guide for all its adventure programmes. The Expedition
                    Guide, as the name suggests, will guide the members through their adventure journey and be always
                    available for any kind of help/emergency.
                </mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <img src="../../../assets/Image/trekkingtravel.png" id="searchimg"
                    style="height:30px;width:30px;margin-top:3px;" />
                <mat-card-title class='title'>
                    <h1 fxLayoutAlign="space-around center">Special Activities</h1>
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="space-around center">
                    Special Activities are planned and conducted by MYApp at regular intervals. Members keen on
                    participating in such special activities and also keen on bringing their family and friends for such
                    programmes need to contact the respective Hostel or MYApp, New Delhi to know more. The potential
                    participants can also visit the YHAI's portal for any further information.
                </mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <img src="../../../assets/Image/BestPrice.png" id="searchimg"
                    style="height:30px;width:30px;margin-top:3px;" />
                <mat-card-title class='title'>
                    <h1 fxLayoutAlign="space-around center">Best Price</h1>
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="space-around center">
                    MYApp is committed to give the best and cheap accommodation to its members. Accordingly, the members
                    can avail of the facilities offered by MYApp at a very nominal cost. The members will be guaranteed a
                    pleasant and comfortable stay in the hostel at the best price seen no where else.
                </mat-card-subtitle>
            </mat-card>
        </div>