
<mat-card class="state-tag" >
    States
</mat-card>
<mat-card class="display-container"  fxLayout="row" fxLayoutGap="10">
    
    <div >
        <mat-card class="display-state-img">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50%;">
                
                <mat-card-title style="margin-top: 6px;">Delhi</mat-card-title>
                <mat-card-subtitle> Capital city of India</mat-card-subtitle>
            </div>
        </mat-card>
    </div>

    <div >
        <mat-card class="display-state-img" >
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50%;">
                
                <mat-card-title style="margin-top: 6px;">Delhi</mat-card-title>
                <mat-card-subtitle style="margin-bottom: 3px;"> Capital city of India</mat-card-subtitle>
            </div>
        </mat-card>
    </div>
    <div >
        <mat-card class="display-state-img">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50%;">
                
                <mat-card-title style="margin-top: 6px;">Delhi</mat-card-title>
                <mat-card-subtitle style="margin-bottom: 3px;"> Capital city of India</mat-card-subtitle>
            </div>
        </mat-card>
    </div>
    <div >
        <mat-card class="display-state-img">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50%;">
                
                <mat-card-title style="margin-top: 6px;">Delhi</mat-card-title>
                <mat-card-subtitle style="margin-bottom: 3px;"> Capital city of India</mat-card-subtitle>
            </div>
        </mat-card>
    </div>
    <div >
        <mat-card class="display-state-img">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50%;">
                
                <mat-card-title style="margin-top: 6px;">Delhi</mat-card-title>
                <mat-card-subtitle style="margin-bottom: 3px;"> Capital city of India</mat-card-subtitle>
            </div>
        </mat-card>
    </div>
    <div >
        <mat-card class="display-state-img">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50%;">
                
                <mat-card-title style="margin-top: 6px;">Delhi</mat-card-title>
                <mat-card-subtitle style="margin-bottom: 3px;"> Capital city of India</mat-card-subtitle>
            </div>
        </mat-card>
    </div>
    
</mat-card>

