
<mat-card class="state-tag" >
    States
</mat-card>
<mat-card class="display-container"  fxLayout="row" fxLayoutGap="10">
    <div >
        <mat-card class="mat-card-state">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
                <img class="img" src="../../../assets/Image/delhi.jpg" alt="">
                <div class="title-tag">
                    <mat-card-title style="margin-top: 6px;" fxLayoutAlign="space-around center">Delhi</mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 1px;"> Capital city of India</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>     
    <div >
        <mat-card class="mat-card-state">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
                <img class="img" src="../../../assets/Image/UP.jpg" alt="">
                <div class="title-tag">
                    <mat-card-title style="margin-top: 6px;" fxLayoutAlign="space-around center">Delhi</mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 1px;"> Capital city of India</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div> 
    <div >
        <mat-card class="mat-card-state">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
                <img class="img" src="../../../assets/Image/delhi.jpg" alt="">
                <div class="title-tag">
                    <mat-card-title style="margin-top: 6px;" fxLayoutAlign="space-around center">Delhi</mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 1px;"> Capital city of India</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>  
    <div >
        <mat-card class="mat-card-state">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
                <img class="img" src="../../../assets/Image/delhi.jpg" alt="">
                <div class="title-tag">
                    <mat-card-title style="margin-top: 6px;" fxLayoutAlign="space-around center">Delhi</mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 1px;"> Capital city of India</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div> 
    <div >
        <mat-card class="mat-card-state">
            
            <div class="state-title" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 2%;">
                <img class="img" src="../../../assets/Image/delhi.jpg" alt="">
                <div class="title-tag">
                    <mat-card-title style="margin-top: 6px;" fxLayoutAlign="space-around center">Delhi</mat-card-title>
                    <mat-card-subtitle style="margin-bottom: 1px;"> Capital city of India</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>  
    
</mat-card>

