.main {
    //display: flex;
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 436px;
    padding: 83px;
    height: 381px;
    background: #fff;
    font-weight: 600;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
}

.heading1{
    margin: 25px 0px 8px;
    font-weight: 550;
    
}

.heading2{
    font-weight: 400;
    margin: 0px 0px 32px;

}

.form-logo{
    text-align: center;
    font-size:x-large;
}

.formcontainer{
    text-align: center;
}

.signin-primary{
    background-color: #4971f6;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  height: 44px;
  line-height: 20px;
  list-style: none;
  margin: 113px;
  top: -125px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    font-family: arial rounded mt;
}
.form-btn {
    right: -88px;
    position: relative;
    float: right;
    column-gap: 68%;
    padding-top: 7%;

}