<div class="main">
    <div class="forms">
        <div class="head">
            <div class="form-logo">
                <h1>MyApp</h1>
                <h1 class="heading1">Find your Password</h1>
                <h2 class="heading2">Enter your recovery email</h2>
            </div>
        </div>
        <form >
            <div class="formcontainer">
                <div class="user-name">
                    <div class="example-container">
                        <mat-form-field appearance="outline" style="width:90%; height: 80px;">
                            <mat-error>Enter your email</mat-error>
                            <input matInput placeholder="User@example.com" [(ngModel)]="email" >
                            <mat-label>Enter your email</mat-label>
                        </mat-form-field><br>
                    </div>
                </div>
            </div>
            <section class="form-btn">
            <button class="signin-primary" ton mat-raised-button color="primary" (click)="forgotPassword()" >SendLink</button>

            </section>
        </form>
    </div>

</div>
