.search-btn{
    margin-bottom: 12px;
    height: 45px;
    width: 10%;
}

.hero{
    background-image: url("../../../assets/Image/tom-barrett-M0AWNxnLaMw-unsplash.jpg");
    padding: 80px 53px 170px 41px;
    background-size: 1350px;
}