<mat-card>

    <h1 fxLayoutAlign="start center" class="top-destination">Top Destinations</h1>
<mat-card-subtitle fxLayoutAlign="start center">Here are some popular nearby destinations to get you started</mat-card-subtitle>
<div class="small_slider">
    <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
</div>
<div class="container">
    <ngb-carousel class="container">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="image" src="../../../assets/Slider/10 (1).jfif" (click)=" onclick()"
                    alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/Slider/10 (2).jfif" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>No mouse events...</h3>
                <p>This carousel doesn't pause or resume on mouse events</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/Slider/10 (3).jfif" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/Slider/10 (4).jfif" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
</mat-card>