.card-content{
    margin-top: 20px;
    font-size: 15px;
    color:grey;
    min-width:20px;
    margin-left: 11px;
}
.card-title{
    font-size: 20px; 
    padding:10px;
    
}
.main-container{
    width: 100%;
}
.stateinfo{
    color:#222;
}