<div class="main-container">
    <div class="main">
        <app-header></app-header>
        <mat-card fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card fxLayout="column" fxLayoutAlign="center start">
                <div class="stateimg">
                    <mat-card>
                        <img src="../../../assets/Image/stateimg.png" id="bookimg" />
                    </mat-card>
                </div>
                <div class="stateinfo">
                    <mat-card-title class="card-title">State Name</mat-card-title>
                    <mat-card-title class="card-content">Delhi,[a] officially the National Capital Territory (NCT) of
                        Delhi, is a city and a union territory of India containing New Delhi, the capital of India.
                        Straddling the Yamuna river, primarily its western or right bank, Delhi shares borders with the
                        state of Uttar Pradesh in the east and with the state of Haryana in the remaining directions.
                        The NCT covers an area of 1,484 square kilometres (573 sq mi).[5] According to the 2011 census,
                        Delhi's city proper population was over 11 million,[6][14] while the NCT's population was about
                        16.8 million.[7] Delhi's urban agglomeration, which includes the satellite cities of Ghaziabad,
                        Faridabad, Gurgaon and Noida in an area known as the National Capital Region (NCR), has an
                        estimated population of over 28 million, making it the largest metropolitan area in India and
                        the second-largest in the world
                    </mat-card-title>
                </div>
            </mat-card>
            <mat-card fxLayout="column" fxLayoutGap="space-between stretch">
                <mat-card class="citydisp">
                    <img src="../../../assets/Image/delhi.jpg" id="bookimg" />
                    <mat-card-title style="margin-top: 6px;" fxLayoutAlign="space-around center">New Delhi
                    </mat-card-title>
                </mat-card>
                <mat-card class="citydisp">
                    <img src="../../../assets/Image/delhi.jpg" id="bookimg" />
                </mat-card>
                <mat-card class="citydisp">
                    <img src="../../../assets/Image/delhi.jpg" id="bookimg" />
                </mat-card>

            </mat-card>
        </mat-card>
        <app-footer></app-footer>
    </div>